.intro {
  padding: 50px 0 100px 0;
  width: calc(100% - 280px);
  margin-left: 140px;
  margin-right: 140px;

  @media (max-width: 992px) {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (max-width: 768px) {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
  }

  .title {
    h3 {
      font-family: mova;
      font-size: 21px;
      color: #858585;
      margin: 0;

      @media (max-width: 1024px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    h1 {
      font-family: mova;
      font-weight: bold;
      font-size: 45px;
      margin: 0;

      @media (max-width: 1024px) {
        font-size: 35px;
      }

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    .p-wrapper {
      width: calc(80% - 10px);
      margin-bottom: 50px;

      @media (max-width: 768px) {
        width: 100%;
      }

      p {
        font-family: Poppins;
        color: #858585;
        text-align: left;
      }
    }
  }

  .cardWrapper {
    display: flex;
    gap: 40px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 768px) {
      gap: 40px;
    }
    @media (max-width: 600px) {
      gap: 20px;
      justify-content: space-around;
    }

    .card {
      width: 250px;
      border: none;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      @media (max-width: 768px) {
        width: 200px;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      .card-top {
        background-color: #444444;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 55px;
          height: 55px;
        }
      }

      .card-bottom {
        padding: 20px;
        text-align: center;

        h2 {
          font-family: mova;
          font-weight: normal;
          color: #858585;
          margin: 0;
        }

        p {
          font-family: Poppins;
          color: #858585;
          margin: 10px 0 0 0;
        }
      }

      &:hover {
        animation: card 1s infinite;
      }
    }
  }
}

@keyframes card {
  0% {
    filter: drop-shadow(0px 0px 0px #ffffff) drop-shadow(0px 0px 0px #ffffff);
    transform: rotate(0deg);
  }
  25% {
    filter: drop-shadow(0px 0px 0px #ffffff) drop-shadow(0px 0px 0px #ffffff);
    transform: rotate(3deg);
  }
  50% {
    filter: drop-shadow(0px 0px 0px #ffffff) drop-shadow(0px 0px 0px #ffffff);
    transform: rotate(-3deg);
  }
  75% {
    filter: drop-shadow(0px 0px 0px #ffffff) drop-shadow(0px 0px 0px #ffffff);
    transform: rotate(2deg);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #ffffff) drop-shadow(0px 0px 0px #ffffff);
    transform: rotate(-2deg);
  }
}
